@import url("../node_modules/pretendard/dist/web/static/pretendard.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-180 {
  transform: rotateY(180deg);
}

.perspective-1000 {
  perspective-origin: center;
  perspective: 1000px;
}
